<div class="container">
  <h1>Brouillons</h1>
  <p>Nombre de brouillons : <%= @articles.count %> </p>
  <% @articles.each do |article| %>
  <div class="card mb-3">
    <% if article.status == "draft" %>
    <div class="draftflag">Brouillon</div>
    <% end %>
    <div class="row no-gutters">
      <div class="col-md-2">
        <img src="https://image.shutterstock.com/z/stock-vector-speech-bubble-icon-over-blue-circle-and-background-colorful-design-vector-illustration-574733059.jpg" class="card-img" alt="article illustration">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article)%></h5>
          <p class="card-text"><small class="text-muted"><%= article.source_name %>, le <%= article.publication_date.strftime("%d/%m/%Y") %></small></p>
          <p class="card-text"><% article.tags.each do |t| %>
            <%= link_to t.name, tag_path(t), class: "btn btn-info btn-sm" %>
          <% end %></p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
