<div class="container">
  <h1>Modifier l'article</h1>
    <%= simple_form_for @article do |a| %>
    <%= a.input :title, label: 'Titre' %>
    <%= a.input :body, label: 'Contenu' %>
    <%= a.input :source_name, label: 'Nom de la source' %>
    <%= a.input :source_url, label: 'Addresse de la source' %>
    <%= a.input :press_review_date, label: 'Date de la revue de presse' %>
    <%= a.input :publication_date, label: 'Date de publication' %>
    <%= a.input :status, label: 'Statut', collection: ['draft', 'published'], default: 'draft' %>
    <%= a.input :article_type, label: "Type d'article", collection: ['belga', 'presse', 'web'] %>
    <%= a.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true} %>
    <%= submit_tag "Enregistrer le brouillon", id: "save_draft" %>
    <%= submit_tag "Enregistrer et publier", id: "save_published" %>
  <% end %>
<!--     <div class="row article-actions">
      <button class="btn btn-secondary save-draft" id="btn-save-draft">Enregistrer le brouillon</button>
      <button class="btn btn-primary publish" id="btn-publish">Enregistrer et publier</button>
  </div> -->
</div>

