<div class="container">
  <h1>Modifier l'article</h1>
    <%= simple_form_for @article do |a| %>
    <%= a.input :title, label: 'Titre' %>
    <%= a.input :body, label: 'Contenu' %>
    <%= a.input :source_name, label: 'Nom de la source' %>
    <%= a.input :source_url, label: 'Adresse url de la source' %>
    <%= a.input :press_review_date, label: 'Date de la revue de presse' %>
    <%= a.input :publication_date, label: 'Date de publication' %>
    <div class="hidden-field">
      <%= a.input :status, label: 'Statut', collection: ['draft', 'published'], id: 'status', default: 'draft' %>
      <%= a.input :article_type, label: "Type d'article", collection: ['media', 'presse', 'belga'] %>
    </div>
<!-- Button trigger modal -->
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
          Définir les thématiques
        </button>
     <hr>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Thématiques</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= a.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true}, label: 'Thématiques' %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
      </div>
      <!-- end modal -->
    <div class="row article-actions">
      <%= submit_tag "Enregistrer le brouillon", class: "btn btn-primary btn-blue-border", id: "save_draft" %>
      <%= submit_tag "Enregistrer et publier", class: "btn btn-primary", id: "save_published" %>
    </div>
  <% end %>
</div>
<script src="application.js"></script>
