<div class="container">
  <h1>Modifier l'article</h1>
    <%= simple_form_for @article do |a| %>
    <%= a.input :title, label: 'Titre' %>
    <%= a.input :body, label: 'Contenu' %>
    <%= a.input :source_name, label: 'Nom de la source' %>
    <%= a.input :source_url, label: 'Addresse de la source' %>
    <%= a.input :publication_date, label: 'Date de publication' %>
    <%= a.input :status, label: 'Statut', collection: ['draft', 'published'], default: 'draft' %>
    <%= a.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true} %>
    <%= a.submit "Enregistrer" %>
  <% end %>
</div>

