<div class="container">
  <h1>Revue de presse du <%= @date %></h1>
    <form class="form-inline">
      <%= simple_form_for articles_path, method: :get do |f| %>
      <%= date_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Chercher un article"
      %>
      <%= submit_tag "OK", class: "btn btn-secondary" %>
      <% end %>
    </form>
  <br>
  <% if @articles.empty? %>
  <p>Il n'y a pas (encore) d'article publié à cette date.</p>
  <% else %>
  <%= render 'shared/articlecards' %>
  <% end %>
</div>
