<div class="container">
  <h1>Créer un article</h1>
    <%= simple_form_for @article, url: articles_path do |a| %>
      <%= a.input :belga_file, as: :file %>
      <%= a.input :gopress_file, as: :file %>
      <%= a.input :title %>
      <%= a.input :body %>
      <%= a.input :source_name %>
      <%= a.input :source_url %>
      <%= a.input :publication_date %>
      <%= a.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true} %>
      <%= a.submit "Créer" %>
    <% end %>
</div>
