<div class="container">
  <h1>Créer un article</h1>
    <%= simple_form_for @article, url: articles_path do |a| %>
      <%= a.input :belga_file, as: :file, label: 'Fichier Belga' %>
      <%= a.input :gopress_file, as: :file, label: 'Fichier Gopress' %>
      <%= a.input :press_review_date, label: 'Date de la revue de presse' %>
      <%= a.input :title, label: 'Titre' %>
      <%= a.input :body, label: 'Contenu' %>
      <%= a.input :source_name, label: 'Nom de la source' %>
      <%= a.input :source_url, label: 'Addresse de la source' %>
      <%= a.input :publication_date, label: 'Date de publication' %>
      <%= a.association :tags, collection: @tags, as: :check_boxes, input_html: { multiple: true}, label: 'Thématiques' %>
      <%= a.submit "Créer" %>
    <% end %>
</div>
