<div class="container">
  <div class="card card-transparent-white">

  <h1>Trouver un article</h1>

  <!-- CHAMPS DE RECHERCHE -->
  <form class="form-inline">
    <%= simple_form_for search_path, method: :get do |f| %>
    <div class="row">
    <div class="col">
      <div class="col">
    <%= label_tag "Entre le" %>
  </div>
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control",
        label: "Date"
      %>
    </div>
      <div class="col">
      <%= label_tag " et le" %>
      <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control"
      %>
    </div>
      <div class="col">
        <%= label_tag "Mots-clés" %>
      <%= text_field_tag :keywords,
        params[:keywords],
        class: "form-control",
        placeholder: "mots-clés" %>
      </div>
      <div class="col">
        <br>
        <%= button_tag(type: "submit", class: "btn btn-default") do %>
        <i class="fas fa-search fa-fw"></i>
       <% end %>
        </div>
      </div>
    <% end %>
  </form>
    <!-- fin champs de recherche -->



 <% if @articles.empty?  %>
  <hr>
    <p>Il n'y a pas d'article correspondant à votre recherche</p>
  <% else %>
  <hr>
  <p>
    <%= render 'shared/articlecards' %>
  </p>
 <% end %>
  </div>
</div>
