<div>
  <h1> <%= @article.title %></h1>
  <%= @article.publication_date %>
  <%= @article.user.email %>
  <%= @article.source_url %>
  <%= @article.source_name %>
  <%= @article.body %> <br>
  <% @tags.each do |t| %>
    <%= t.name %>
  <% end %>
  <%= button_to "Supprimer",article_path(@article),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppresion !" },
                 :id=>"delete" %>
</div>

