<div class="container">
  <div class="row">
    <div class="col md-11">
    <div class="card article-show">
      <div class="card-header">
        <div class="row justify-content-between">
        <!-- === BROUILLON === -->
          <div class="col-md-11">
            <% if @article.status == "draft" %>
              <div class="draftflag article-show">Brouillon</div>
            <% end %>
          </div>

        <!-- === FAVOURITE FLAG  -->
           <div class="action-star-title col-md-1">
            <% if current_user.favorites.include? @article %>
              <%= link_to favorite_article_path(@article, type: "unfavorite"), method: :put do %>
                <i class="fas fa-star"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_article_path(@article, type: "favorite"), method: :put do %>
                <i class="far fa-star"></i>
              <% end %>
            <% end %>
            </div>
         </div>

      <!-- === ARTICLE TITLE & SOURCE === -->
        <h1> <%= @article.title %></h1>
        <div class="rainbow"></div> <!-- affiche la ligne de séparation -->
        <% if @article.article_type == "presse" %>
          <p><%= @article.source_url.html_safe %> <%= @article.source_name %>, le <%= @article.publication_date.strftime("%d.%m.%Y") %> </p>
        <% elsif @article.article_type == "belga" %>
          <p><%= @article.source_name %>, le <%= @article.publication_date.strftime("%d.%m.%Y") %> </p>
        <% else %>
          <p><%= @article.source_name %>, <%= @article.source_url %>, le <%= @article.publication_date.strftime("%d.%m.%Y") %> </p>
      <% end %>
      </div>

    <!-- === BODY -->
      <div class="card-body">
        <p><%= simple_format(@article.body.html_safe) %></p>
        <% @tags.each do |t| %>
          <%= link_to t.name, tag_path(t), class: "btn btn-tag" %>
      <% end %>
      </div>

    <!-- ARTICLE FOOTER -->
      <div class="card-footer text-muted">
        <p>Ajouté le <%= @article.publication_date.strftime("%d.%m.%Y") %> par <%= @article.user.first_name %> <%=@article.user.name %></p>
      </div>

    </div>

    <!-- ACTIONS -->
    <% if @article.user == current_user || current_user.role != "user" %>
      <div class="row article-actions">
            <%= link_to "Modifier", edit_article_path(@article), class:"btn btn-primary" %> &nbsp;
            <%= button_to "Supprimer", article_path(@article),
                            method: :delete,
                            data: { confirm: "Veuillez confirmer la suppression !" },
                           :id => "delete", class:"btn btn-danger" %>

      </div>
    <% end %>

    <!-- COMMENTS -->
    <hr>
  <div>
    <% if @comments.empty? %>
      <p>Aucun commentaire disponible</p>
    <% else %>
      <p><%= @comments.count %> commentaire(s)</p>

      <div class="comments-container">
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>
      </div>
    <% end %>
    <hr>
      <%= render "comments/new", article: @article, comment: @comment %>
  </div>
  <br>

  </div>
  </div>
</div>
