<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <h1> <%= @article.title %></h1>
        <p><%= @article.source_url.html_safe %> <%= @article.source_name %> <%= @article.publication_date.strftime("%d/%m/%Y") %> </p>
      </div>
      <div class="card-body">
        <p><%= @article.body.html_safe %></p>
        <% @tags.each do |t| %>
          <a href="#" class="btn btn-secondary"> <%= t.name %> </a>
      <% end %>
      </div>
      <div class="card-footer text-muted">
        <p><%= @article.publication_date.strftime("%d/%m/%Y") %> by <%= @article.user.first_name %> <%=@article.user.name %></p>
      </div>
    </div>
    <div class="row">
      <%= link_to "Modifier", edit_article_path(@article), class:"btn btn-primary" %>
      <%= button_to "Supprimer", article_path(@article),
                      method: :delete,
                      data: { confirm: "Veuillez confirmer la suppresion !" },
                     :id=>"delete", class:"btn btn-primary" %>
    </div>
  </div>
</div>
