<div class="container">
  <h1> <%= @article.title %></h1>
  <p><%= @article.created_at %> by <%= @article.user.email %></p>
  <p><%= @article.body %></p>
  <p><%= @article.source_url %> <%= @article.source_name %> <%= @article.publication_date %></p>
  <% @tags.each do |t| %>
    <li>
      <%= t.name %>
    </li>
  <% end %>
  <br>
  <div class="row">
    <%= link_to "Modifier", edit_article_path(@article), class:"btn btn-primary" %>
  <%= button_to "Supprimer", article_path(@article),
                  method: :delete,
                  data: { confirm: "Veuillez confirmer la suppresion !" },
                 :id=>"delete", class:"btn btn-primary" %>
  </div>

</div>

