<% @articles.each do |article| %>
  <div class="card article-card mb-3">

    <% if article.status == "draft" %>
      <div class="draftflag">Brouillon</div>
    <% end %>

    <div class="row no-gutters justify-content-between">

<!-- ===== IMAGE & DRAFT FLAG ===== -->
      <div class="col-md-2">
        <% if article.article_type =="presse" %>
          <img src="https://image.shutterstock.com/z/stock-photo-article-on-tablet-pc-touchpad-ebook-concept-148427981.jpg" class="card-img" alt="article illustration">
        <% elsif article.article_type =="belga" %>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvqedoAs34V2r0CRZiXPvwcVgIFHNJDnfBYlMipVE5FKXK5yBW&s" class="card-img" alt="logo belga">
        <% else %>
          <img src="https://image.shutterstock.com/z/stock-photo-media-journalism-global-daily-news-content-concept-428479336.jpg" class="card-img" alt="article illustration">
        <% end %>
      </div>

<!-- ===== CARD BODY ===== -->
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article)%></h5>
          <p class="card-text"><small class="text-muted"><%= article.source_name %>, le <%= article.publication_date.strftime("%d.%m.%Y") %></small></p>
        </div>

      <!-- ===== FOOTER ===== -->
        <div class="card-footer"><% article.tags.each do |t| %>
              <%= link_to t.name, tag_path(t), class: "btn btn-tag btn-sm" %>
            <% end %>
        </div>
      </div>

<!-- ===== ACTIONS ===== -->
        <div class="col-md1 actions">
          <div class="action-star">
          <% if current_user.favorites.include? article %>
            <%= link_to favorite_article_path(article, type: "unfavorite"), title:"Retirer des favoris", class: "active-star", method: :put do %>
              <i class="fas fa-star"></i>
            <% end %>
          <% else %>
              <%= link_to favorite_article_path(article, type: "favorite"), title:"Ajouter aux favoris", method: :put do %>
                <i class="far fa-star"></i>
              <% end %>
          <% end %>
          </div>
          <% if article.user == current_user %>
          <div class="action-edit">
            <%= link_to edit_article_path(article) do %>
            <i class="fas fa-edit"></i>
            <% end %>
          </div>
            <div class="action-delete">
                    <%= link_to article_path(article),
                      method: :delete,
                      data: { confirm: "Veuillez confirmer la suppresion !" },
                     :id=>"delete" do %>
                     <i class="far fa-trash-alt"></i>
                     <% end %>
            </div>
            <% end %>
          </div>


      </div>
    </div>
<% end %>
