<% @articles.each do |article| %>
  <div class="card article-card mb-3">

    <% if article.status == "draft" %>
      <div class="draftflag">Brouillon</div>
    <% end %>

    <div class="row no-gutters justify-content-between">

<!-- ===== IMAGE & DRAFT FLAG ===== -->
      <div class="col-md-2">
        <% if article.article_type =="presse" %>
          <%= image_tag "illu-presse.png", class:"card-img", alt:"article illustration" %>
        <% elsif article.article_type =="belga" %>
          <%= image_tag "illu-belga.png", class:"card-img", alt:"logo belga" %>
        <% else %>
          <%= image_tag "illu-media.png", class:"card-img", alt:"illustration média" %>
        <% end %>
      </div>

<!-- ===== CARD BODY ===== -->
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title[0..115], article_path(article)%></h5>
          <p class="card-text"><small class="text-muted"><%= article.source_name %>, le <%= article.publication_date.strftime("%d.%m.%Y") %></small></p>
        </div>

      <!-- ===== FOOTER ===== -->
        <div class="card-footer"><% article.tags.each do |t| %>
              <%= link_to t.name, tag_path(t), class: "btn btn-tag btn-sm" %>
            <% end %>
        </div>
      </div>

<!-- ===== ACTIONS ===== -->
        <div class="col-md-1 actions">
          <div class="action-star">
          <% if current_user.favorites.include? article %>
            <%= link_to favorite_article_path(article, type: "unfavorite"), title:"Retirer des favoris", class: "active-star", method: :put do %>
              <i class="fas fa-star fa-fw"></i>
            <% end %>
          <% else %>
              <%= link_to favorite_article_path(article, type: "favorite"), title:"Ajouter aux favoris", method: :put do %>
                <i class="far fa-star fa-fw"></i>
              <% end %>
          <% end %>
          </div>
          <% if article.user == current_user || current_user.role != "user" %>
          <div class="action-edit">
            <%= link_to edit_article_path(article) do %>
            <i class="fas fa-edit fa-fw"></i>
            <% end %>
          </div>
            <div class="action-delete">
                    <%= link_to article_path(article),
                      method: :delete,
                      data: { confirm: "Veuillez confirmer la suppression !" },
                     :id=>"delete" do %>
                     <i class="far fa-trash-alt fa-fw"></i>
                     <% end %>
            </div>
            <% end %>
          </div>


      </div>
    </div>
<% end %>
