  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container">

  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "kiosk.png" %>
  <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item">
        <a class="nav-link" href="/articles"><i class="fas fa-newspaper fa-fw"></i><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search"><i class="fas fa-search fa-fw"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tags"><i class="fas fa-tags fa-fw"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/articles/new"><i class="fas fa-file-medical fa-fw"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/draft"><i class="fas fa-pencil-ruler fa-fw"></i></a>
      </li> -->
      <li class="nav-item dropdown">
        <%= image_tag "user-circle-solid.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Mes brouillons", draft_path, class: "dropdown-item" %>
          <%= link_to "Mes favoris", favorites_path, class: "dropdown-item" %>
        <% if current_user.role == 'editor' || current_user.role == 'admin' %>
          <%= link_to "Gestion des newsletters", newsletters_path, class: "dropdown-item" %>
        <% end %>
        <% if current_user.role == 'admin' %>
          <%= link_to "Gestion des utilisateurs", users_administration_index_path, class: "dropdown-item" %>
        <% end %>
          <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

</div>
