
<div class="container container-home">
    <% if current_user %>
    <h1 class="display-3">Bonjour <%= current_user.first_name %></h1>
    <p class="lead text-shadow mb-5 pb-4"> Que lirez-vous dans Kiosk aujourd'hui ?</p>
    <div class="row">
      <div class="col-6">
        <%= link_to articles_path, class: "btn btn-primary btn-lg btn-block home box-shadow", title:'Revues de presse' do %>
          <i class="fas fa-newspaper fa-fw"></i> Revues de presse
          <% end %>
          <%= link_to tags_path, class: "btn btn-primary btn-lg btn-block home box-shadow", title:'Thématiques' do %>
          <i class="fas fa-tags fa-fw"></i> Thématiques
          <% end %>
      </div>
            <div class="col-6">
          <%= link_to search_path, class: "btn btn-primary btn-lg btn-block home box-shadow", title:'Trouver un article' do %>
          <i class="fas fa-search fa-fw"></i> Trouver un article
          <% end %>
          <%= link_to new_article_path, class: "btn btn-primary btn-lg btn-block home box-shadow", title:'Ajouter un article' do %>
          <i class="fas fa-file-medical fa-fw"></i> Ajouter un article
          <% end %>
      </div>
    </div>

  <% else %>
  <div class="container">
    <h1>Page d'accueil</h1>
    <br>
    <%= link_to 'Se connecter', new_user_session_path  %>
  <% end %>
  </div>
  </div>
</div>

