<div class="container">
  <div class="row">
    <% if current_user %>
    <div class="card mb-3 text-center mx-auto" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Bonjour <%= current_user.first_name %></i></h5>
        <p class="card-text">
          <%= link_to articles_path, class: "btn btn-primary btn-lg btn-block home", title:'Revues de presse' do %>
          <i class="fas fa-newspaper fa-fw"></i> Revues de presse
          <% end %>
          <%= link_to tags_path, class: "btn btn-primary btn-lg btn-block home", title:'Thématiques' do %>
          <i class="fas fa-tags fa-fw"></i> Thématiques
          <% end %>
          <%= link_to search_path, class: "btn btn-primary btn-lg btn-block home", title:'Trouver un article' do %>
          <i class="fas fa-search fa-fw"></i> Trouver un article
          <% end %>
          <%= link_to new_article_path, class: "btn btn-primary btn-lg btn-block home", title:'Ajouter un article' do %>
          <i class="fas fa-file-medical fa-fw"></i> Ajouter un article
          <% end %>
          <%= link_to draft_path, class: "btn btn-primary btn-lg btn-block home", title: 'Brouillons' do %>
          <i class="fas fa-pencil-ruler fa-fw"></i> Brouillons
          <% end %>
        </p>
      </div>
  </div>
  <% else %>
    <h1>Page d'accueil</h1>
    <%= link_to 'Se connecter', new_user_session_path  %>
  <% end %>
  </div>
</div>
